.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.res-card {
    padding: 10px;
    width: auto;
    margin-right: 5px;
    /* height: 50%; */
    border: 1px solid black;
    background: lightgray;
    /* font-size: 12px; */
    margin-bottom: 5px;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 10%;
    height: 25%;
}

.top-res-btn {
    cursor: pointer;
    padding: 8px;
    text-align: center;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: lightgray;   
}

.filter{
    display: flex;
    margin-bottom: 5px;
}

.search-input {
    margin-right: 5px;
}