.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-container{
    display: flex;
    flex: wrap;
}

.res-card {
    padding: 10px;
    width: 200px;
    margin-right: 5px;
    height: 300px;
    border: 1px solid black;
    background: lightgray;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
    height: 30%;
}